
*{
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    padding: 16px 80px 96px 80px;
flex-direction: column;
gap: 24px;
background: var(--black, #000);

}
.logo{
 display: flex;
align-items: center;
gap: 24px;
justify-content: space-between;
padding: 5px 20px;
}
#pages{
    display: flex;
    gap: 20px;
    align-items: flex-start;
    color: var(--white, #FFF);


}
#pages>a,#profile>a{
    font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
color: #FFF;
text-decoration: none;
}
#profile{
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--white, #FFF);
}
#profile-pic{
    border-radius: 100px;
background: var(--white, #FFF);
padding: 8px 15px;
display: flex;
align-items: center;
gap: 10px;
}
.search{
    width:100%;
    height: 100px;
display: flex;
align-items: center;
justify-content: center;
}
#search-bar{
    background-color: #FFF;
    width:55%;
    height: 50px;
    display: flex;
    gap:20px;
    align-items: center;
    justify-content: space-between;
    border-radius: 1000px;
background: var(--white, #FFF);
padding: 8px 8px 8px 32px;

}
.title>h5{
    color: var(--black, #000);

/* text-xs/Medium */
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 16px; /* 133.333% */
}
.title>h4{
    color: var(--gray-500, #6B7280);

    /* text-sm/Regular */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}
.vertical-line{
    width: 1px;
height: 32px;
background: var(--gray-500, #E5E7EB);
}
#search-btn{
    border-radius: 100px;
background: #DE3151;
box-shadow: 0px 1px 2px 0px rgba(31, 41, 55, 0.08);
padding: 10px;
border: none;
width: 48px;
height: 48px;
}
.hero-section{
    border-radius: 8px;
background: url(./assets/home-annotated.jpg),  lightgray 0px -209.751px / 100% 133.359% no-repeat;
display: flex;
background-size: cover;
height: 840px;
padding: 80px;
flex-direction: column;
justify-content: flex-end;
align-items: center;
gap: 24px;
align-self: stretch;
      
}
#hero-text{
    color: #FFF;

/* text-5xl/Medium */
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 500;
line-height: 56px; /* 116.667% */
}
#hero-btn{
    display: flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
border: 0px solid var(--gray-200, #E5E7EB);
background: var(--white, #FFF);

/* shadow-base */
box-shadow: 0px 1px 2px 0px rgba(31, 41, 55, 0.08);

/* text-base/Medium */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 24px */
}
.container{
    padding: 96px 88px;
}
#next-trip{
    display: flex;
    flex-direction: column;
    gap:40px;

}
#next-trip>h2{
    color: var(--black, #000);

/* text-4xl/Medium */
font-family: Inter;
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: 44px; /* 122.222% */
}
#mycard{
display: flex;
flex-direction: column;
align-items: flex-start;
width:fit-content;
border-radius: 10px;

}
#mycard>img{
  border-top-left-radius: 10px;
  border-top-right-radius:10px ;
  width:432px;
}
#card-body{
    display: flex;
    padding: 24px 16px 96px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    background: #CC2D4A;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width:400px;
}
#card-body>h3{
    color: var(--white, #FFF);

/* text-4xl/Medium */
font-family: Inter;
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: 44px; /* 122.222% */
}
#card-body>p{
    color: var(--white, #FFF);

/* text-lg/Regular */
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
}
#cards{
    display: flex;
    gap: 40px;
    align-items: center;
}
#discover{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 80px 0px;
    gap:40px;
    color: var(--black, #000);

/* text-4xl/Medium */
font-family: Inter;
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: 44px; /* 122.222% */
}
#discover-exp{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content:flex-start;
    width: 100%;
}
#discover-exp>img{
    width: 50vw;
    height: 80vh;
    border-radius: 10px;
}
#gift-cards{
    display: flex;
    gap:50px;
}
#gift-shop{
    
    display: flex;
    flex-direction: column;
    flex:0.5;
    gap:20px;
    align-items: flex-start;
    justify-content: center;
    color: var(--black, #000);
padding-right: 150px;
/* text-5xl/Medium */
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 500;
line-height: 56px; /* 116.667% */
}
#learn-more{
    padding: 16px 24px;
    border-radius: 8px;
background: var(--black, #000);

color: var(--white, #FFF);

/* text-base/Medium */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 24px */
}
#gift-img{
    flex:2;
    padding-left: 20px;
}
#gift-img>img{
    width:55vw;
    height: 40vh;
}
#hosting{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top:150px;
}
#hosting>img{
    width: 100vw;

}
footer{
    width: 100%;
}
footer>img{
    width: 100%;
}
#prefooter{
    padding-top: 150px;
    width:100%;
}
#prefooter>img{
    width:100%;
    
}